<h2>Sign up</h2>
<form name="form" method="post">
	Email (*): <input id="email-input" type="text" name="email">
      <label id="email-label"></label>
	<br>
	Password (*): <input id="password-input" type="password" name="password">
      <label id="password-label"></label>
  <br>
	Password Confirmation (*): <input id="confirmation-input" type="password" name="passwordConfirmation">
      <label id="password-confirmation-label"></label>
  <br>
	Phone: <input id="phone-input" type="tel" name="phone">
      <label id="phone-label"></label>
</form>
<div>
	<button (click)=onClickCancel()>Cancel</button>
	<button (click)=onClickConfirm()>Confirm</button>
</div>
