<div id="top-bar">
  <table style="width: 100%;">
    <tr>
      <td style="width: 15%;">
        <span *ngIf="!isMain" class="logo-text">
          {{title}}
        </span>
      </td>
      <td style="width: 60%;"></td>
      <td style="width: 15%;">
        <button *ngIf="user" class="buttons" id="user-info-button" (click)="goUserInfo()">
          {{user.email}}      
        </button>
      </td>
      <td style="width: 10%;">
        <button class="buttons" id="sign-in" (click)="goSignIn()">
          Sign In
        </button>
      </td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>