.main-logo-text {
  font-size: 150px;
  font-style: sans-serif;
  text-align: center;
  margin: 100px;
}

#main-buttons {
	height: 200px;
}

.buttons-main {
	width: 15%;
	height: 70%;
	margin: 10px;
}
