<div id='book-input-body'>
  <table class='table table-borderless'>
  	<tr>
  	  <th class='row-head border-right'>
  	  	책 제목
  	  </th>
  	  <td class='row-body'>
  	  	<table>
  	  	  <tr>
  	  	  	<td class='col-8'>
  	  	  	  <input id='book-title-input' class='form-control' placeholder='Book Title' [(ngModel)]="bookTitle">
  	  	  	</td>
  	  	  	<td class='col-2'>
              
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="isbn-search-title">ISBN으로 도서 검색</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table>
                    <tr style="height:70px;">
                      <td>
                        <h5 style="text-align: center;">ISBN</h5>
                      </td>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <input id='isbn-search-input' [(ngModel)]='queryString' class='form-control' placeholder="ISBN" autofocus>
                            </td>
                            <td>
                              <button type="button" class="btn btn-primary" id='isbn-search-button' (click)='onClickISBNSearch()'>
                                검색
                              </button>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h5 style="text-align: center;">검색 결과</h5>
                      </td>
                      <td>
                        <table *ngIf='this.displayFlag'>
                          <tr>
                            <td>책 제목</td>
                            <td>{{book.title}}</td>
                          </tr>
                          <tr>
                            <td>저자</td>
                            <td>{{book.author}}</td>
                          </tr>
                          <tr>
                            <td>출판사</td>
                            <td>{{book.publisher}}</td>
                          </tr>
                          <tr>
                            <td>출판연도</td>
                            <td>{{book.publishedYear}}</td>
                          </tr>
                          <tr>
                            <td>정가</td>
                            <td>{{book.marketPrice}}</td>
                          </tr>
                        </table>
                        <h6 *ngIf='isFirst'>
                          ISBN을 입력해주세요.
                        </h6>
                        <h5 *ngIf='!isFirst && !this.displayFlag'>
                          해당 책이 없습니다.
                        </h5>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <table>
                    <tr>
                      <td class='col-70'></td>
                      <td class='col-15'>
                        <button type="button" class="btn btn-outline-secondary" id="isbn-search-cancel-button" (click)="modal.close('Cancel Click');">
                          취소
                        </button>
                      </td>
                      <td class='col-15'>
                        <button type="button" class="btn btn-outline-primary" id='isbn-search-confirm-button' (click)="onClickConfirm(); modal.close('Confirm Click');">
                          확인
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>

  	  	  	  <button class="btn btn-outline-primary" (click)="open(content)">
  	  	  	  	ISBN 검색
  	  	  	  </button>
  	  	  	</td>
  	  	  </tr>
  	  	</table>
  	  </td>
  	</tr>
  	<tr>
      <th class='row-head border-right'>
  	    책 정보  
  	  </th>
  	  <td class='row-body'>
  	  	<table class='table table-borderless'>
  	  	  <tr>
            <td class='row-head border-right'>
              저자
            </td>
            <td class='row-body'>
              <input id='book-author-input' class='form-control' placeholder='Book Author' [(ngModel)]="bookAuthor">
            </td>
  	  	  </tr>
          <tr>
            <td class='row-head border-right'>
              출판사
            </td>
            <td class='row-body'>
              <input id='book-publisher-input' class='form-control' placeholder='Book Publisher'  [(ngModel)]="bookPublisher">
            </td>
          </tr>
          <tr>
            <td class='row-head border-right'>
              출판연도
            </td>
            <td class='row-body'>
              <input id='book-publishedYear-input' class='form-control' placeholder='Book Published Year' [(ngModel)]="bookPublishedYear">
            </td>
          </tr>
  	  	</table>
  	  </td>
  	</tr>
  </table>
</div>
