.searchInputContainer{
    display:flex;
    flex-direction: row;
}
.searchInput{
    border-radius: 25px;
    flex:1;
    vertical-align: middle;
    font-size: 1.25rem;
    padding: 0 15px;
    letter-spacing: +.4px;
}
.resultPart{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    /* letter-spacing: +.4px; */
    font-weight: 550;
    
}
.showCandidates{
    border: solid 1px black;
    flex: 1;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
}
.showResult{
    border: solid 1px black;
    flex: 3;
    margin-left: 20px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right:50px;
    border-radius: 25px;
    
}
.empty{
    padding: 50px 0;
}
.candidateElement{
    margin: 20px 0;
    
}