.searchInputContainer{
    display:flex;
    flex-direction: row;
}
.searchInput{
    border-radius: 25px;
    flex:1;
    vertical-align: middle;
    font-size: 1.25rem;
    padding: 0 15px;
    letter-spacing: +.4px;
}
.resultPart{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    /* letter-spacing: +.4px; */
    font-weight: 550;
    
}
.showCandidates{
    border: solid 1px black;
    flex: 1;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    overflow-y: scroll;
}
.showResult{
    border: solid 1px black;
    flex: 3;
    margin-left: 20px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right:50px;
    border-radius: 25px;
    
}
.empty{
    padding: 50px 0;
}
.candidateUl{
    list-style: none;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.candidateElement{
    margin: 20px 0;
    max-width: 100px;
}
.candidateImage{
    max-width: inherit;
    padding-left: 115px;
}
li {
    list-style: none;                                                                                                                                      
}
.resultUl{
    margin: 0;
    padding: 0;
}
.resultElement{
    margin: 20px 0;
    padding: 20px;
    border: solid 0.5px slategray;
    border-radius: 12px;
}
.resultElement .container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.resultElement .container .logoContainer{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url('http://image.kyobobook.co.kr/ink/images/gnb/logo_kyobo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 15px;
    margin-right: 25px;
    /* border: solid 0.3px gray; */
}

.resultElement .container .logoContainer_ala{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url('https://image.aladin.co.kr/img/header/2011/aladin_logo_new.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 15px;
    margin-right: 25px;

    /* border: solid 0.3px gray; */
}
.resultElement .container .contentContainer{
    flex: 1;
    font-size: 1rem;
    font-weight: normal;
    padding-top: 20px;
}
.resultElement .container .buttonContainer{
    
}
.resultElement .container .buttonContainer .vacancy{
    width: inherit;
    height: 80px;
}