<div id='article-input-body'>
  <table class='table table-borderless'>
  	<tr>
  	  <th class='row-head border-right'>
  	  	글 제목
  	  </th>
  	  <td class='row-body'>
  	  	<input id='article-title-input' class='form-control' placeholder='Article Title'>
  	  </td>
  	</tr>
  	<tr>
  	  <th class='row-head border-right'>
  	  	가격 정보
  	  </th>
  	  <td class='row-body'>
  	  	<table class='table table-borderless container'>
  	      <tr class='row'>
  	      	<th class='col' style='text-align:center;'>
  	      	  내 가격
  	      	</th>
  	      	<td class='col-1'></td>
  	      	<th class='col' style='text-align:center;'>
  	      	  정가
  	      	</th>
  	      </tr>
  	      <tr class='row'>
  	      	<td class='col'>
  	      	  <input id='my-price-input' class='form-control' placeholder='Price'>
  	      	</td>
  	      	<td class='col-1' style='text-align:center;'>
  	      	  V.S.
  	      	</td>
  	      	<td class='col'>
  	      	  <!-- 정가 정보 -->
  	      	</td>
  	      </tr>
  	  	</table>
  	  </td>
  	</tr>
  	<tr>
  	  <th class='row-head border-right'>
  	  	내용
  	  </th>
  	  <td class='row-body'>
  	  	<textarea id='content-input' class='form-control' rows='10' placeholder='Content'></textarea>
  	  </td>
  	</tr>
  </table>
</div>